<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stopwatch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col col-full>
        <ion-list>
          <ion-item text-center>{{totalTime}}</ion-item>
          <ion-item text-center *ngFor="let totalTimeAtLap of totalTimeAtLaps">{{totalTimeAtLap}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <button ion-button full (click)="startStopClicked()">{{startStopText}}</button>
      </ion-col>

      <ion-col *ngIf="showResetButton">
        <button ion-button full (click)="resetClicked()">Reset</button>
      </ion-col>

      <ion-col *ngIf="timerStarted">
        <button ion-button full (click)="lapClicked()">Lap</button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
